@inherits LayoutComponentBase

<div class="flex">
    <div class="bg-sky-400 min-h-screen w-[300px]">
        <NavMenu />
    </div>

    <main class="w-full">
        @Body
    </main>
</div>
