@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');
@import 'tailwindcss';
@config "./../../tailwind.config.mjs";

@layer base {
  h1 {
    font-size: 2.488rem; /* ì•½ 40px */
    font-weight: 700;
    margin-bottom: 0.5em;
  }

  h1:focus {
    outline: none !important;
  }
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
